.article-page-container {
  width: 100%;
  height: auto;

  margin: 0 auto;
  padding-bottom: 25px;

  background-color: #eaffd0;
}

.article-page-container p {
  margin: 0 10px;
}

.article-page-image {
  width: 100%;
  margin-bottom: 25px;
}

.chisono-page-image {
  display: block;
  width: 65%;
  margin: 15px auto;
}

.article-page-container h1 {
  font-family: "euphoriascript", sans-serif;
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
}

.article-page-container h2 {
  margin: 30px 15px;
  margin-top: 55px;
  text-align: center;
}

.article-page-container p {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.article-page-container p:last-of-type {
  padding-bottom: 35px;
}

@media only screen and (min-width: 1200px) {
  .article-page-container {
    width: 1000px;
  }
  .article-page-container h2 {
    margin-top: 100px;
  }

  .chisono-variante p {
    margin: 0 55px;
  }

  .chisono-variante h1 {
    font-size: 65px;
  }

  .chisono-page-image {
    width:50%;
  }
}
