.article-page-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border: 2px solid blue;
  height: auto;
  margin: 0 auto;
}

.empty {
  height: 1200px;
}

@media only screen and (min-width: 1200px) {
  .article-page-container {
    width: 1300px;
  }
}
