.article-page-container {
  width: 100%;
  
  border: 2px solid blue;
  height: auto;
  margin: 0 auto;
}

.article-page-image {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .article-page-container {
    width: 1300px;
  }
}
