@font-face {
  font-family: "AlexBrush";
  src: url("../gianluca-trm/alexbrush-regular-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body {

}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

/*  MAIN HEADER */

.header-menu {
  display: flex;
  flex-wrap: wrap;

  background-image: linear-gradient(to right, #1cc5dc, #6d36a8, #890596);
  justify-content: space-between;

  width: 100%;
  height: 125px;
}

.header-menu-item {
  display: flex;
  position: relative;
}

.menu-item-1 {
  margin-left: 25px;
  margin-top: 7px;
  width: 25%;
  }

.menu-item-1 h1 {
  padding: 7px;
  font-family: "AlexBrush";
  font-size: 40px;
  color: #e6dd3b;
}

.menu-item-2 {
  align-self: center;

}


/*  DROPDOWN  */

.menu {
  position: relative;
}

.menu-icon {
  width: 30px;
}

.menu > li {
  display: inline;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  position: relative;
  margin-right: 35px;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.first-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkgreen;
  z-index: 1;
  height: 65px;

}

.first-menu li {

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  list-style: none;

  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-self: center;

}

.first-menu li:last-of-type {
  border: none;
  padding-right: 10px;

}


  /*  SUB-HEADER  */

.sub-header {
  display: flex;
  background-color: #393e46;
  width: 100%;
  height: 65px;
}

.sub-header-menu {
  display: flex;
  width: 100%;
  justify-content: center;
}


.second-menu li {

  display: inline;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin: 10px 15px;

  align-self: center;

}

/* FOOTER */

.footer-container {
  display: flex;
  flex-wrap: wrap;

  height: auto;
  width:100%;
  justify-content: space-between;
  background-color: #343233;
}

.footer-item {
  margin: 15px 15px;
}

.footer-item-1 {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  flex-direction: column;
  justify-content: space-between;
}

.footer-item-1 p:last-of-type {
  padding-top: 15px;
}


.right-footer-items {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 8px;
}
.footer-item-3 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 45px;
  flex-direction: column;
}

.footer-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-item ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-item li {
  margin: 12px 0;
}

.footer-list img {
  width: 25px;
  position: relative;
  top: 7px;
  margin-right: 7px;
}

.footer-item-3 h3 {
  margin-bottom: 0;
}



@media only screen and (min-width: 1200px) {

  .first-menu {
    display: flex;

    border: none;
    background-color: inherit;
  }

  .first-menu li {
    border: none;
    margin: 35px;
  }

  .dropdown > span {
    display: none;
  }

  .second-menu li {
    margin: 49px;
  }

  .footer-item-1 {
    width:55%;
  }

  .right-footer-items {
    width: 40%;
    margin: 0;
  }

}

@media only screen and (min-width: 605px) and (max-width: 1199px) {
  .first-menu {
    display: flex;

    border: none;
    background-color: inherit;
  }

  .first-menu li {
    border: none;
    margin: 15px;
    font-size: 14px;
  }

  .dropdown > span {
    display: none;
  }

  .second-menu li {
    margin: 39px;
  }

  .footer-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-item-1 {
    width:30%;
  }

  .right-footer-items {
    width: 55%;
  }

}

@media only screen and (max-width: 604px) {
  .dropdown:hover .first-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    position: fixed;
    top: 125px;
    left:0;
    width: 100%;
  }

  .first-menu {
    display: none;
  }

  .header-menu {
    position: fixed;
    z-index: 1;
  }

  .empty-div {
    width:100%;
    height: 125px;
  }

}

/* IPHONE 5/SE */

@media only screen and (max-width: 440px) {
  .first-menu li  {
    font-size: 15px;
  }
  .second-menu li {
    margin: 10px 10px;
  }
  .footer-item {
    margin-left: 5px;
    margin-right: 5px;
  }
}
