* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

/*  MAIN HEADER */

.header-menu {
  display: flex;

  background-image: linear-gradient(to right, #1e6f5c, #29bb89);
  justify-content: space-between;

  width: 100%;
  height: 125px;
}

.header-menu-item {
  display: flex;
  position: relative;
}

.menu-item-1 {
  margin-left: 25px;
  margin-top: 7px;
  }

.menu-item-1 h1 {
  padding: 7px;
  font-size: 40px;
  color: #e6dd3b;
}

.menu-item-2 {
  align-self: center;
}


/*  DROPDOWN  */

.menu {
  position: relative;
}

.menu-icon {
  width: 50px;
}

.menu > li {
  display: inline;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  position: relative;
  margin-right: 75px;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.first-menu {
  display: flex;
  background-color: darkgreen;
  z-index: 1;
  height: 65px;
}

.first-menu li {

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  border-right: 1px solid #FFF;

  width: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-self: center;

}

.first-menu li:last-of-type {
  border: none;
  padding-right: 0;

}

  /*  SUB-HEADER  */

.sub-header {
  display: flex;
  background-color: #393e46;
  width: 100%;
  height: 65px;
}

.sub-header-menu {
  display: flex;
  width: 100%;
  justify-content: center;
}

.second-menu li {

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin: 15px;

  align-self: center;
}

/* MAIN CONTENT */

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.wide-box {
  display: flex;
  width: 100%;
  background-color: #1e6f5c;
  height: 250px;
  border: 2px solid purple;
}

.feature-box {
  display: flex;
  width: 100%;
  height: 450px;
  background-color: #e6dd3b;
  border: 2px solid purple;
}


.feature-1 {
  order: 1;
}

@media only screen and (min-width: 651px) {

  .first-menu {
    display: flex;

    border: none;
    background-color: inherit;
  }

  .first-menu li {
    border: none;
    margin: 35px;
  }

  .dropdown > span {
    display: none;
  }

  .second-menu li {
    margin: 49px;
  }

  .feature-box {
    width: 50%;
    border: 2px solid purple;
  }

  .feature-4 {
    position: relative;
    height: 450px;
    background-color: #1e6f5c;
    width: 75%;
    align-self: center;
  }

}

@media only screen and (max-width: 650px) {

  .dropdown:hover .first-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    position: fixed;
    top: 125px;
    left:0;
    width: 100%;

  }


  .first-menu {
    display: none;
  }
}
