* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.header-menu {
  display: flex;
  position: fixed;

  background-image: linear-gradient(to right, #212121, #8BC34A);
  border-bottom: 5px ridge #558B2F;
  justify-content: space-between;

  width: 100%;
  height: 125px;
}

.header-menu-item {
  display: flex;
  position: relative;
}

.menu-item-1 {
  margin-left: 25px;
  margin-top: 7px;
  }

.menu-item-1 h1 {
  padding: 7px;
  font-size: 40px;
}

.menu-item-1 p {
  padding: 7px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 85px;
}

.menu-item-2 {
  align-self: center;
}

.menu {
  position: relative;
  margin-right: 75px;
}

.menu-icon {
  width: 50px;
}

.menu > li {
  display:inline;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.first-menu {
  display: flex;
  background-color: darkgreen;
}

.first-menu li {

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  border-right: 1px solid #FFF;

  width:33.333%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  z-index: 1:
  }

  .first-menu li:last-of-type {
    border: none;
    padding-right: 0;

  }


@media only screen and (min-width: 651px) {

  .first-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    border: none;
    background-color: inherit;
  }

  .first-menu li {
    border: none;
    margin: 35px;
  }

  .dropdown > span {
    display: none;
  }

}

@media only screen and (max-width: 650px) {

  .dropdown:hover .first-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    position: fixed;
    top: 125px;
    left:0;
    width: 100%;

  }

  .first-menu {
    display: none;
  }
}
