/* MAIN HOME CONTENT */


.features-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.wide-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;


  background-color: #28b5b5;
  height: auto;
}


.feature-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  height: auto;
  background-color: #8fd9a8;
}

.feature-box p {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 15px 0;
}

p {
  padding: 0 12px;
}

.second-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.content-images {
  display: flex;
  justify-content: center;
  height:150px;
  width:100%;
}

.first-image {
  height: 165px;
  padding-bottom: 15px;
}

.second-image {
  height: 150px;
}

.third-image {
  height: 135px;
}

.content-texts {
  margin: 25px 0;
  height: auto;
  text-align: center;
}
.contact-home {
  display: flex;
  justify-content: center;
}

.contact-list {
  list-style-type: none;
  display: flex;
  width:75%;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 10px;
  }

.contact-list img {
  width: 25px;
  margin-top: 15px;
  margin-right: 25px
}

.home-button-2 {
  background-color: #29bb89;
  border-color: #289672;
}

.home-button-2:hover {
  border-color: #289672;
}

.home-button-2:active {
  border-color: #289672;
}


@media only screen and (min-width: 1200px) {

  .wide-1 {
    flex-direction: column;
    position: relative;
    height: 450px;
    justify-content:center;
    align-items: center;
  }

  .wide-1 h2 {
    width: 75%;
    margin: 0;
    height: 10%;
    margin-top: 15px;
    text-align: left;

    align-self: flex-start;
  }

  .first-content {
    position: relative;
    top: 15px;
    width: 75%;
    align-self: flex-end;
  }

  .first-content p {
    padding: 15px;
    padding-left: 0;
    text-align: left;
    margin-right:55px;
  }

  .content-images {
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
    order: -1;
  }

  .first-image {
    width: 90%;
    height:auto;
    align-self: center;
    padding: 0 25px;
  }

  .feature-box {
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height:350px;
  }

  .second-content {
    display: flex;
    width: 75%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .feature-box h2 {
    align-self: center;
    width: 75%;
    height: 10%;
  }


  .feature-box p {
    padding: 15px;
    padding-left: 0;
    text-align: left;
    margin-right:15px;
  }

  .second-image {
    width: 100%;
    height: auto;
    align-self: center;
    margin: 0 15px;
  }

  .third-image {
    width: 70%;
    height: auto;
    align-self: center;
    margin: 0 15px;
  }

  .button-main-styles:active {
    background-color: #16c79a;
    border-color: #64dfdf;
  }

  .home-button-2 {
    position: relative;
    top: 20px;
  }

  .home-button-2:active {
    background-color: #29bb89;
    border-color: #289672;
  }

  .contact-home {
    position: relative;
    top: 35px;
  }

}

@media only screen and (min-width: 605px) and (max-width: 1199px) {


  .wide-box {
    height: auto;
  }

  .feature-box {
    width: 50%;
    margin-bottom: 0;
    height: auto;
  }

  .content-texts {
    margin-top: 5px;
  }

  .feature-box > h2 {
    padding-left: 0;
    margin-bottom: 0;
  }

  .first-image {
    margin: 0;
  }

  .third-image {
    width: 115px;
    height:115px;
    padding-bottom: 0;
  }

  .second-content-pos {
    position: relative;
    top: -25px;
  }

  .contact-home {
    position: relative;
    top: 12px;
  }

}

@media only screen and (max-width: 604px) {

}

/* IPHONE 5/SE */

@media only screen and (max-width: 340px) {

}
